@font-face {
    font-family: 'JalnanGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'yg-jalnan';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'JeonjuCraftGoR';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}



/* 메인페이지 전체 배경색 지정 */
$background-start : #25303C;
$background-end : #728EAA;
body{
    background: $background-start;
    background: -moz-linear-gradient(top, $background-start 0%, $background-end 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $background-start), color-stop(100%,$background-end));
}


/* navbar 설정 */
nav{
    display: flex;
    align-items: center;
    font-family: 'JalnanGothic';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1000;

    img {
        margin-left: 20px;
        margin-right: auto;
        width: 40px;
        height: 40px;
        max-width: 100px;
        vertical-align: middle;
    }
    ul{
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }

    li{
        margin-right: 23px;
    }

    a{
        text-decoration: none;
        font-size: 16px;
        color: lightgray;
    }
    a:hover{
        text-decoration: underline;
        color: white;
        font-size: 17px; /* 커서 올라왔을 때 크기 약간 키우기 */
        transition: transform 0.1s ease-in-out; /* 변경된 스타일 적용까지 걸리는 시간 */
    }
}


/* 시작 페이지 설정 */
#start-main-page{
    font-family: 'JalnanGothic';
    color: white;
    text-align: center;
    position: relative;

    .container{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 60px;
        width: 100%;
        position: absolute;
        top: 40%;
        z-index: 9999;
    }
    .video-container{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        video{
            // width: 100%;
            // height: 100%;
            object-fit: cover;
        }
    }
}
@media (max-width: 1200px) {
    #start-main-page{
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 50px;
            width: 100%;
            position: absolute;
            top: 40%;
            z-index: 9999;
        }
    }
}
@media (max-width: 700px) {
    #start-main-page{
        .container{
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 40px;
            width: 100%;
            position: absolute;
            top: 40%;
            z-index: 9999;
        }
    }
}


/* 프로젝트 소개 페이지1 설정 */
#project-Intro-1{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'JalnanGothic';
    height: 100vh;
    overflow: hidden;

    .project-Introduce-1{
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        .project-Intro-1-content{

        }
    }

    #Nijariyeogidae{
        width: 1000px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
    h2{
        font-family: 'JeonjuCraftGoR';
        text-align: center;
    }
    h3{
        font-family: 'JeonjuCraftGoR';
        text-align: center;
    }
}
.active{
    .deco1 {
        width: 0px;
        height: 20px;
        background-color: #007cc3;
        position: absolute;
        top: 0;
        left: 380px; /* 시작 위치 (500, 0) */
        transform-origin: left top;
        transform: rotate(-225deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
        animation: drawLine 2s forwards;
        z-index: -10;
    }
    .deco2 {
        width: 0px;
        height: 15px;
        background-color: #c4cbcf;
        position: absolute;
        top: 415px;
        left: -130px; /* 시작 위치 (0, 300) */
        transform-origin: left top;
        transform: rotate(-45deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
        animation: drawLine 2s forwards;
        z-index: -10;
    }
    .deco3 {
        width: 0px;
        height: 15px;
        background-color: #d1e5f0;
        position: absolute;
        top: 460px;
        left: -20px; /* 시작 위치 (0, 460) */
        transform-origin: left top;
        transform: rotate(-45deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
        animation: drawLine 2s forwards;
        z-index: -10;
    }
    .deco4 {
        width: 0px;
        height: 20px;
        background-color: #022e48;
        position: absolute;
        bottom: -100px;
        right: -100px;
        transform-origin: left top;
        transform: rotate(-45deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
        animation: drawLine 2s forwards;
        z-index: -10;
    }
    .deco5 {
        width: 0px;
        height: 15px;
        background-color: #a2a4a5;
        position: absolute;
        bottom: 260px;
        right: -330px;
        transform-origin: left top;
        transform: rotate(-225deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
        animation: drawLine 2s forwards;
        z-index: -10;
    }
    .deco6 {
        width: 0px;
        height: 15px;
        background-color: #a7d8f3d7;
        position: absolute;
        bottom: 390px;
        right: -530px; /* 시작 위치 (0, 400) */
        transform-origin: left top;
        transform: rotate(-225deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
        animation: drawLine 2s forwards;
        z-index: -10;
    }
    .deco7 {
        width: 0px;
        height: 15px;
        background-color: #a2a4a5c8;
        position: absolute;
        top: -190px;
        right: -640px;
        transform-origin: left top;
        transform: rotate(-225deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
        animation: drawLine 2s forwards;
        z-index: -10;
    }
    .deco8 {
        width: 0px;
        height: 15px;
        background-color: #a7d8f3d2;
        position: absolute;
        top: -100px;
        right: -610px; /* 시작 위치 (0, 400) */
        transform-origin: left top;
        transform: rotate(-225deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
        animation: drawLine 2s forwards;
        z-index: -10;
    }
    .deco9 {
        width: 0px;
        height: 20px;
        background-color: #007cc3c6;
        position: absolute;
        bottom: -100px;
        left: -100px;
        transform-origin: left top;
        transform: rotate(-45deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
        animation: drawLine 2s forwards;
        z-index: -10;
    }
    .deco10 {
        width: 0px;
        height: 15px;
        background-color: #d1e5f0c4;
        position: absolute;
        bottom: -195px;
        left: -130px; /* 시작 위치 (0, 460) */
        transform-origin: left top;
        transform: rotate(-45deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
        animation: drawLine 2s forwards;
        z-index: -10;
    }
}
@keyframes drawLine{
    100% {
        width: 500px;
    }
}
@media (max-width: 1200px){
    #project-Intro-1{
        #Nijariyeogidae{
            width: 800px;
        }
        h2{
            text-align: center;
        }
        h3{
            font-size: 15px;
        }
    }
    .active{
        .deco1 {
            top: -175px;
            left: 450px;
        }
        .deco2 {
            top: 415px;
            left: -240px;
        }
        .deco3 {
            top: 465px;
            left: -145px;
        }
        .deco4 {
            bottom: -230px;
            right: -100px;
        }
        .deco5 {
            bottom: 185px;
            right: -390px;
        }
        .deco6 {
            bottom: 390px;
            right: -660px;
        }
    }
}
@media (max-width: 800px){
    #project-Intro-1{
        #Nijariyeogidae{
            width: 400px;
        }
        h2{
            text-align: center;
        }
        h3{
            font-size: 15px;
        }
    }
}


/* 프로젝트 소개 페이지2 설정 */
#project-Intro-2{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: 'JalnanGothic';
    height: 100vh;
    overflow: hidden;

    .project-Introduce-2{
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        .project-Intro-2-content{

        }
    }
    #barcode-belt{
        width: 1100px;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        align-items: center;
    }
    h2{
        font-family: 'JeonjuCraftGoR';
        text-align: center;
    }
    h3{
        font-family: 'JeonjuCraftGoR';
        text-align: center;
    }
}
@media(max-width: 1500px){
    #project-Intro-2{
        #barcode-belt{
            width: 800px;
        }
        h2{
            font-size: 18px;
        }
    }
}
@media(max-width: 800px){
    #project-Intro-2{
        #barcode-belt{
            width: 400px;
        }
        h2{
            font-size: 15px;
        }
    }
}


/* 팀원 소개 페이지 설정 */
#team-Intro{
    color: white;
    position: relative;
    height: 100vh;
    font-family: 'JalnanGothic';

    /* 배경 */
    .video-container{
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        video{
            // width: 100%;
            // height: 100%;
            object-fit: cover;
        }
    }

    #team-Intro-title{
        position: absolute;
        top: 140px;
        left: 200px;
    }
    .member-description {
        display: none;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.7);
        padding: 10px;
        border-radius: 10px;
        transition: opacity 0.2s ease-in-out;
    }

    img{
        width: 200px;
        height: 200px;
        border-radius: 70%;
        overflow: hidden;
        position: absolute;

        transition: transform 0.2s ease-in-out;

        &:hover{
            transform: scale(1.2);
        }
        &:hover + .member-description {
            display: block;
        }
    }
    #junhyoung{
        top: 280px;
        left: 200px;
    }
    #jisu{
        top: 550px;
        left: 200px;
    }
    #jun{
        top: 280px;
        left: 450px;
    }
    #ji{
        top: 550px;
        left: 450px;
    }
}
@media (max-width: 1300px) {
    #team-Intro{
        #team-Intro-title{
            position: absolute;
            top: 140px;
            left: 200px;
        }
        .member-description {
            display: none;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 10px;
            border-radius: 10px;
            transition: opacity 0.2s ease-in-out;
        }
        img{
            width: 180px;
            height: 180px;
            border-radius: 70%;
            overflow: hidden;
            position: absolute;
    
            transition: transform 0.2s ease-in-out;
    
            &:hover{
                transform: scale(1.2);
            }
            &:hover + .member-description {
                display: block;
            }
        }
        #jun{
            top: 280px;
            left: 430px;
        }
        #ji{
            top: 550px;
            left: 430px;
        }
        h3{
            font-size: 18px;
        }
        p{
            font-size: 15px;
        }
    }
}
@media (max-width: 1000px) {
    #team-Intro{
        #team-Intro-title{
            position: absolute;
            top: 120px;
            left: 130px;
        }
        .member-description {
            display: none;
            position: absolute;
            background-color: rgba(0, 0, 0, 0.7);
            padding: 10px;
            border-radius: 10px;
            transition: opacity 0.2s ease-in-out;
        }
        img{
            width: 160px;
            height: 160px;
            border-radius: 70%;
            overflow: hidden;
            position: absolute;
    
            transition: transform 0.2s ease-in-out;
    
            &:hover{
                transform: scale(1.2);
            }
            &:hover + .member-description {
                display: block;
            }
        }
        #junhyoung{
            top: 280px;
            left: 150px;
        }
        #jisu{
            top: 570px;
            left: 150px;
        }
        #jun{
            top: 280px;
            left: 360px;
        }
        #ji{
            top: 570px;
            left: 360px;
        }
        h3{
            font-size: 18px;
        }
        p{
            font-size: 15px;
        }
    }
}


/* 마지막 페이지 설정 */
#last-main-page{
    display: flex;
    justify-content: center;
    font-family: 'yg-jalnan';
    background: lightgray;
    position: relative;
    #logo{
        position: absolute;
        width: 400px;
        height: 400px;
        top: 30%;
        right: 25%;
    }
    #github-logo{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 40%;
        left: 20%;
    }
    #notion-jisu{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 47%;
        left: 20%;
    }
    #notion-junhyoung{
        position: absolute;
        width: 40px;
        height: 40px;
        top: 47%;
        left: 23%;
    }
    p{
        text-decoration: underline;
        font-size: 35px;
        position: absolute;
        top: 20%;
        left: 20%;
    }
    .question-programer{
        font-size: 15px;
        position: absolute;
        bottom: 20%;
        left: 20%;
        z-index: 222;
    }
    footer{
        border-top: 1px solid #8f8f8f;
        position: absolute;
        bottom: 30px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 1350px) {
    #last-main-page{
        #logo{
            position: absolute;
            width: 350px;
            height: 350px;
            top: 30%;
            right: 20%;
        }
        #github-logo{
            position: absolute;
            width: 40px;
            height: 40px;
            top: 35%;
            left: 20%;
        }
        #notion-jisu{
            position: absolute;
            width: 40px;
            height: 40px;
            top: 42%;
            left: 20%;
        }
        #notion-junhyoung{
            position: absolute;
            width: 40px;
            height: 40px;
            top: 42%;
            left: 26%;
        }
        p{
            text-decoration: underline;
            font-size: 30px;
            position: absolute;
            top: 20%;
            left: 20%;
        }
    }
}
@media (max-width: 950px) {
    #last-main-page{
        #logo{
            position: absolute;
            top: 65%;
            left: 18%;
            width: 100px;
            height: 100px;
        }
        #github-logo{
            position: absolute;
            width: 40px;
            height: 40px;
            top: 35%;
            left: 20%;
        }
        #notion-jisu{
            position: absolute;
            width: 40px;
            height: 40px;
            top: 42%;
            left: 20%;
        }
        #notion-junhyoung{
            position: absolute;
            width: 40px;
            height: 40px;
            top: 42%;
            left: 28%;
        }
        p{
            text-decoration: underline;
            font-size: 30px;
            position: absolute;
            top: 20%;
            left: 20%;
        }
    }
}


/* 버튼 설정 */
#buttons {
    position: fixed;
    z-index: 9999;
    top: 50%;
    right: 20px; /* 우측 여백 조절 */
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#buttons button {
    width: 15px; /* 버튼 크기 조절 */
    height: 15px; /* 버튼 크기 조절 */
    border-radius: 50%; /* 원 모양으로 설정 */
    background-color: white; /* 흰색 배경색 */
    color: transparent; /* 버튼 텍스트 색상 */
    margin-bottom: 20px; /* 버튼 간격 조절 */
    border: none; /* 테두리 제거 */
    cursor: pointer;
    outline: none; /* 클릭 시 파란 테두리 제거 */
}