@charset "UTF-8";
@font-face {
  font-family: "JalnanGothic";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "yg-jalnan";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "JeonjuCraftGoR";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2310@1.0/JeonjuCraftGoR.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/* 메인페이지 전체 배경색 지정 */
body {
  background: #25303C;
  background: -moz-linear-gradient(top, #25303C 0%, #728EAA 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #25303C), color-stop(100%, #728EAA));
}

/* navbar 설정 */
nav {
  display: flex;
  align-items: center;
  font-family: "JalnanGothic";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1000;
}
nav img {
  margin-left: 20px;
  margin-right: auto;
  width: 40px;
  height: 40px;
  max-width: 100px;
  vertical-align: middle;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
nav li {
  margin-right: 23px;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  color: lightgray;
}
nav a:hover {
  text-decoration: underline;
  color: white;
  font-size: 17px; /* 커서 올라왔을 때 크기 약간 키우기 */
  transition: transform 0.1s ease-in-out; /* 변경된 스타일 적용까지 걸리는 시간 */
}
/* 드롭다운 스타일 */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: lightgray;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  text-decoration: underline;
  color: white;
  font-size: 17px; /* 커서 올라왔을 때 크기 약간 키우기 */
  transition: transform 0.1s ease-in-out;
}
.dropdown:hover .dropdown-content {
  display: block;
}


/* 시작 페이지 설정 */
#start-main-page {
  font-family: "JalnanGothic";
  color: white;
  text-align: center;
  position: relative;
}
#start-main-page .container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  width: 100%;
  position: absolute;
  top: 40%;
  z-index: 9999;
}
#start-main-page .video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#start-main-page .video-container video {
  object-fit: cover;
}

@media (max-width: 1200px) {
  #start-main-page .container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    width: 100%;
    position: absolute;
    top: 40%;
    z-index: 9999;
  }
}
@media (max-width: 700px) {
  #start-main-page .container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 100%;
    position: absolute;
    top: 40%;
    z-index: 9999;
  }
}
/* 프로젝트 소개 페이지1 설정 */
#project-Intro-1 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "JalnanGothic";
  height: 100vh;
  overflow: hidden;
}
#project-Intro-1 .project-Introduce-1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#project-Intro-1 #Nijariyeogidae {
  width: 1000px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
#project-Intro-1 h2 {
  font-family: "JeonjuCraftGoR";
  text-align: center;
}
#project-Intro-1 h3 {
  font-family: "JeonjuCraftGoR";
  text-align: center;
}

.active .deco1 {
  width: 0px;
  height: 20px;
  background-color: #007cc3;
  position: absolute;
  top: 0;
  left: 380px; /* 시작 위치 (500, 0) */
  transform-origin: left top;
  transform: rotate(-225deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
  animation: drawLine 2s forwards;
  z-index: -10;
}
.active .deco2 {
  width: 0px;
  height: 15px;
  background-color: #c4cbcf;
  position: absolute;
  top: 415px;
  left: -130px; /* 시작 위치 (0, 300) */
  transform-origin: left top;
  transform: rotate(-45deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
  animation: drawLine 2s forwards;
  z-index: -10;
}
.active .deco3 {
  width: 0px;
  height: 15px;
  background-color: #d1e5f0;
  position: absolute;
  top: 460px;
  left: -20px; /* 시작 위치 (0, 460) */
  transform-origin: left top;
  transform: rotate(-45deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
  animation: drawLine 2s forwards;
  z-index: -10;
}
.active .deco4 {
  width: 0px;
  height: 20px;
  background-color: #022e48;
  position: absolute;
  bottom: -100px;
  right: -100px;
  transform-origin: left top;
  transform: rotate(-45deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
  animation: drawLine 2s forwards;
  z-index: -10;
}
.active .deco5 {
  width: 0px;
  height: 15px;
  background-color: #a2a4a5;
  position: absolute;
  bottom: 260px;
  right: -330px;
  transform-origin: left top;
  transform: rotate(-225deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
  animation: drawLine 2s forwards;
  z-index: -10;
}
.active .deco6 {
  width: 0px;
  height: 15px;
  background-color: rgba(167, 216, 243, 0.8431372549);
  position: absolute;
  bottom: 390px;
  right: -530px; /* 시작 위치 (0, 400) */
  transform-origin: left top;
  transform: rotate(-225deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
  animation: drawLine 2s forwards;
  z-index: -10;
}
.active .deco7 {
  width: 0px;
  height: 15px;
  background-color: rgba(162, 164, 165, 0.7843137255);
  position: absolute;
  top: -190px;
  right: -640px;
  transform-origin: left top;
  transform: rotate(-225deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
  animation: drawLine 2s forwards;
  z-index: -10;
}
.active .deco8 {
  width: 0px;
  height: 15px;
  background-color: rgba(167, 216, 243, 0.8235294118);
  position: absolute;
  top: -100px;
  right: -610px; /* 시작 위치 (0, 400) */
  transform-origin: left top;
  transform: rotate(-225deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
  animation: drawLine 2s forwards;
  z-index: -10;
}
.active .deco9 {
  width: 0px;
  height: 20px;
  background-color: rgba(0, 124, 195, 0.7764705882);
  position: absolute;
  bottom: -100px;
  left: -100px;
  transform-origin: left top;
  transform: rotate(-45deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
  animation: drawLine 2s forwards;
  z-index: -10;
}
.active .deco10 {
  width: 0px;
  height: 15px;
  background-color: rgba(209, 229, 240, 0.768627451);
  position: absolute;
  bottom: -195px;
  left: -130px; /* 시작 위치 (0, 460) */
  transform-origin: left top;
  transform: rotate(-45deg); /* 27도 각도로 회전하여 사선 모양으로 만듦 */
  animation: drawLine 2s forwards;
  z-index: -10;
}

@keyframes drawLine {
  100% {
    width: 500px;
  }
}
@media (max-width: 1200px) {
  #project-Intro-1 #Nijariyeogidae {
    width: 800px;
  }
  #project-Intro-1 h2 {
    text-align: center;
  }
  #project-Intro-1 h3 {
    font-size: 15px;
  }
  .active .deco1 {
    top: -175px;
    left: 450px;
  }
  .active .deco2 {
    top: 415px;
    left: -240px;
  }
  .active .deco3 {
    top: 465px;
    left: -145px;
  }
  .active .deco4 {
    bottom: -230px;
    right: -100px;
  }
  .active .deco5 {
    bottom: 185px;
    right: -390px;
  }
  .active .deco6 {
    bottom: 390px;
    right: -660px;
  }
}
@media (max-width: 800px) {
  #project-Intro-1 #Nijariyeogidae {
    width: 400px;
  }
  #project-Intro-1 h2 {
    text-align: center;
  }
  #project-Intro-1 h3 {
    font-size: 15px;
  }
}
/* 프로젝트 소개 페이지2 설정 */
#project-Intro-2 {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "JalnanGothic";
  height: 100vh;
  overflow: hidden;
}
#project-Intro-2 .project-Introduce-2 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#project-Intro-2 #barcode-belt {
  width: 1100px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
}
#project-Intro-2 h2 {
  font-family: "JeonjuCraftGoR";
  text-align: center;
}
#project-Intro-2 h3 {
  font-family: "JeonjuCraftGoR";
  text-align: center;
}

@media (max-width: 1500px) {
  #project-Intro-2 #barcode-belt {
    width: 800px;
  }
  #project-Intro-2 h2 {
    font-size: 18px;
  }
}
@media (max-width: 800px) {
  #project-Intro-2 #barcode-belt {
    width: 400px;
  }
  #project-Intro-2 h2 {
    font-size: 15px;
  }
}
/* 팀원 소개 페이지 설정 */
#team-Intro {
  color: white;
  position: relative;
  height: 100vh;
  font-family: "JalnanGothic";
  /* 배경 */
}
#team-Intro .video-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#team-Intro .video-container video {
  object-fit: cover;
}
#team-Intro #team-Intro-title {
  position: absolute;
  top: 140px;
  left: 200px;
}
#team-Intro .member-description {
  display: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 10px;
  transition: opacity 0.2s ease-in-out;
}
#team-Intro img {
  width: 200px;
  height: 200px;
  border-radius: 70%;
  overflow: hidden;
  position: absolute;
  transition: transform 0.2s ease-in-out;
}
#team-Intro img:hover {
  transform: scale(1.2);
}
#team-Intro img:hover + .member-description {
  display: block;
}
#team-Intro #junhyoung {
  top: 280px;
  left: 200px;
}
#team-Intro #jisu {
  top: 550px;
  left: 200px;
}
#team-Intro #jun {
  top: 280px;
  left: 450px;
}
#team-Intro #ji {
  top: 550px;
  left: 450px;
}

@media (max-width: 1300px) {
  #team-Intro #team-Intro-title {
    position: absolute;
    top: 140px;
    left: 200px;
  }
  #team-Intro img {
    width: 180px;
    height: 180px;
    border-radius: 70%;
    overflow: hidden;
    position: absolute;
    transition: transform 0.2s ease-in-out;
  }
  #team-Intro img:hover {
    transform: scale(1.2);
  }
  #team-Intro img:hover + .member-description {
    display: block;
  }
  #team-Intro #jun {
    top: 280px;
    left: 430px;
  }
  #team-Intro #ji {
    top: 550px;
    left: 430px;
  }
  #team-Intro h3 {
    font-size: 18px;
  }
  #team-Intro p {
    font-size: 15px;
  }
}
@media (max-width: 1000px) {
  #team-Intro #team-Intro-title {
    position: absolute;
    top: 120px;
    left: 130px;
  }
  #team-Intro img {
    width: 160px;
    height: 160px;
    border-radius: 70%;
    overflow: hidden;
    position: absolute;
    transition: transform 0.2s ease-in-out;
  }
  #team-Intro img:hover {
    transform: scale(1.2);
  }
  #team-Intro img:hover + .member-description {
    display: block;
  }
  #team-Intro #junhyoung {
    top: 280px;
    left: 150px;
  }
  #team-Intro #jisu {
    top: 280px;
    left: 450px;
  }
  #team-Intro #jun {
    top: 500px;
    left: 160px;
  }
  #team-Intro #ji {
    top: 500px;
    left: 160px;
  }
  #team-Intro h3 {
    font-size: 18px;
  }
  #team-Intro p {
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  #team-Intro #team-Intro-title {
    position: absolute;
    top: 120px;
    left: 100px;
  }
  #team-Intro img {
    width: 150px;
    height: 150px;
    border-radius: 70%;
    overflow: hidden;
    position: absolute;
    transition: transform 0.2s ease-in-out;
  }
  #team-Intro img:hover {
    transform: scale(1.2);
  }
  #team-Intro img:hover + .member-description {
    display: block;
  }
  #team-Intro #junhyoung {
    top: 280px;
    left: 120px;
  }
  #team-Intro #jisu {
    top: 280px;
    left: 350px;
  }
  #team-Intro #jun {
    top: 500px;
    left: 130px;
  }
  #team-Intro #ji {
    top: 500px;
    left: 130px;
  }
  #team-Intro h1 {
    font-size: 30px;
  }
  #team-Intro h3 {
    font-size: 18px;
  }
  #team-Intro p {
    font-size: 15px;
  }
}
/* 마지막 페이지 설정 */
#last-main-page {
  display: flex;
  justify-content: center;
  font-family: "yg-jalnan";
  background: lightgray;
  position: relative;
}
#last-main-page #logo {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 30%;
  right: 25%;
}
#last-main-page #github-logo {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 40%;
  left: 20%;
}
#last-main-page #notion-jisu {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 47%;
  left: 20%;
}
#last-main-page #notion-junhyoung {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 47%;
  left: 26%;
}
#last-main-page p {
  text-decoration: underline;
  font-size: 35px;
  position: absolute;
  top: 20%;
  left: 20%;
}
#last-main-page .question-programer {
  font-size: 15px;
  position: absolute;
  bottom: 20%;
  left: 20%;
  z-index: 222;
}
#last-main-page footer {
  border-top: 1px solid #8f8f8f;
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 1350px) {
  #last-main-page #logo {
    position: absolute;
    width: 350px;
    height: 350px;
    top: 30%;
    right: 20%;
  }
  #last-main-page #github-logo {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 35%;
    left: 20%;
  }
  #last-main-page #notion-jisu {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 42%;
    left: 20%;
  }
  #last-main-page #notion-junhyoung {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 42%;
    left: 29%;
  }
  #last-main-page p {
    text-decoration: underline;
    font-size: 30px;
    position: absolute;
    top: 20%;
    left: 20%;
  }
}
@media (max-width: 950px) {
  #last-main-page #logo {
    position: absolute;
    top: 65%;
    left: 18%;
    width: 100px;
    height: 100px;
  }
  #last-main-page #github-logo {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 35%;
    left: 20%;
  }
  #last-main-page #notion-jisu {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 42%;
    left: 20%;
  }
  #last-main-page #notion-junhyoung {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 42%;
    left: 30%;
  }
  #last-main-page p {
    text-decoration: underline;
    font-size: 30px;
    position: absolute;
    top: 20%;
    left: 20%;
  }
}
/* 네비게이션 버튼 스타일 */
#fp-nav ul li a span {
  background-color: white; /* 배경색을 흰색으로 변경 */
}

/*# sourceMappingURL=index.css.map */
