<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>물품 검색 페이지</title>
  <link href="index.css" rel="stylesheet"/>
  <link href="style.css" rel="stylesheet"/>
  <link rel="stylesheet" href="/status.css">
  <style>
    body {
        font-family: 'JalnanGothic';
        position: relative;
        z-index: 1;
    }

    body:before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: #728eaa;
        background: -moz-linear-gradient(top, #25303C 0%, #728EAA 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#25303C), color-stop(100%,#728EAA));
    }
    body{
        display: grid;
        /* flex-wrap: wrap; */
    }
    .statusbox{
        min-width: 800px;
    }
    th{
        max-height: 47px;
    }
    #contact{
        max-width: 100%;
    }
    fieldset{
        max-width: 100%;
    }
    #crudForm{
        max-width: 100%;
    }
  </style>
</head>
<body>
  <header>
    <nav>
      <a href="/main">
          <img src="./images/로고_흰색글씨.png" alt="로고">
      </a>
      <ul>
          <li><a href="/status">분류현황</a></li>
          <li class="dropdown">
              <a href="#">물류관리</a>
              <div class="dropdown-content">
                  <a href="/QRcreate">물품 추가</a>
                  <a href="/QRresearch">물품 검색</a>
                  <a href="/QRdelete">물품 삭제</a>
              </div>
          </li>
          <li><a href="/cam">View</a></li>
          <li><a href="/auth/question">고객지원</a></li>
          <% if (log_status){%>
              <li class="nav-item">
                  <a class="nav-link" href="/auth/logout">로그아웃</a>
              </li>
          <% }else{ %>
              <li class="nav-item">
                  <a class="nav-link" href="/auth/login">로그인</a>
              </li>   
          <%}%> 
      </ul>
  </nav>
  </header>

  <div class="background animate__animated animate__bounceInLeft">
        <div id="contact">
            <h1>물품 검색</h1>
            <form id="crudForm" action="/QRresearch_process" method="post">
                <fieldset>
                    <label for="type">품목 :</label>
                    <select name="type">
                    <option value="books">books</option>
                    <option value="clothes">clothes</option>
                    <option value="digital">digital</option>
                    <option value="food">food</option>
                    </select>
                    <input type="submit" value="검색하기" />
    
                </fieldset>
            </form>
        </div>
    </div>
    <div class="statusbox animate__animated animate__bounceInLeft">
        <table>
            <thead>
            <tr>
                <th>No.</th>
                <th>물품명</th>
                <th>분류 구역</th>
                <th>QR코드</th>
        
            </tr>
            </thead>
            <% for(var i =0; i < results.length; i++){%>
            <tbody>
            <tr>
                <td><%= i +1 %></td>
                <td><%- results[i].product_name %></td>
                <td><%- results[i].location %></td>
                <td><%- results[i].barcode %></td>
            </tr>
            </tbody>
            <% } %>
        </table>
    </div>

  <script>
     
  </script>
</body>
</html>