<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/index.css">
    <link rel="stylesheet" href="/style.css">
    <title>회원가입</title>
</head>
<body>
    <header>
        <nav>
            <img src="/images/로고_흰색글씨.png" alt="로고">
            <ul>
                <li><a href="#management">물류관리</a></li>
                <li><a href="/status">분류현황</a></li>
                <li><a href="/auth/question">고객지원</a></li>
                <% if (log_status){%>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/logout">록아웃</a>
                    </li>
                <% }else{ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/auth/login">록인</a>
                    </li>   
                <%}%> 
            </ul>
        </nav>
    </header>
    <div class="background animate__animated animate__bounceInLeft">
        <%- html%>
    </div>
</body>
</html>